<form action="/createUser" method="POST">
  <div id="create">
    Create New User:
  </div>
  <div id="username">
    Username:
  </div>
  <input type="text" placeholder="Username" name="username" /> <br>
  <div id="password">
    Password:
  </div>
  <input type="text" placeholder="must be a good one" name="password" /> <br>
  <input type="submit" value="create">
</form>