<div class="form-body">
  <form action="/login" method="POST">
    <div id="username">
      Username:
    </div>
    <input type="text" placeholder="Username" name="username" /> <br>
    <div id="password">
      Password:
    </div>
    <input type="password" placeholder="must be a good one" name="password" /> <br>
    <input type="submit" value="Login!" class="input-btn">
  </form>
  <form action="/gallery" method="GET">
    <button class="input-btn">Back to Gallery</button>
  </form>
</div>