<form action="/gallery" method="POST">
  Author: <br>
  <input type="text" placeholder="Author(s) Name" name="author" /> <br>
  URL: <br>
  <input type="text" placeholder="Link" name="link" /> <br>
  Description: <br>
  <textarea name = "description" cols="40" rows="15" placeholder="type yo shit, bruh"></textarea><br>
  <input type="submit" value="Post Photo">
</form>