<form action="/create" method="POST">
  <div id="createNewUser">
    Register New User:
  </div>
  <div id="username">
    Username:
  </div>
  <input type="text" placeholder="Username" name="username" /> <br>
  <div id="password">
    Password:
  </div>
  <input type="password" placeholder="must be a good one" name="password" /> <br>
  <input type="submit" value="Create!" class="input-btn">
</form>