<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bout that Action Boss</title>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>

  <h1>Testing Testing, 1,2,3</h1>
  
  {{{body}}}
  
</body>
</html>