<form action="/create" method ="post">
  Create New User: <br>
  Username: <br>
  <input type="text" placeholder="Username" name="username" /> <br>
  P-wizzle: <br>
  <input type="text" placeholder="must be a good one" name="password" /> <br>
  <input type="submit" value="create">
</form>