/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
body {
  background-color: lavender; }

.photoContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex: 1 1 100%;
  width: 30em;
  border: 5px solid magenta;
  margin: 1rem; }

#hero {
  display: flex;
  flex-flow: row wrap; }

.photoLink {
  display: flex;
  flex-flow: row wrap;
  height: 30rem; }

.photo {
  flex: 1 1 100%;
  height: 100%;
  width: 100%; }

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
  align-items: center;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: #a4a4a5;
  font-size: 0.8rem;
  border: solid 3px red; }

#header {
  display: flex;
  justify-content: center;
  align-items: center; }

h1 {
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: 'Arial', sans-serif;
  font-size: 5rem;
  font-weight: bold;
  color: #68636A;
  border: solid 3px green; }
  h1#right-header {
    display: none; }

hr {
  border-bottom: solid 10px grey; }

.mainGallery {
  width: 100%;
  margin: 2rem;
  border: solid 3px purple;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-device-width: 1024px) and (min-width: 970px) {
    .mainGallery {
      margin: 3rem;
      width: 30rem; } }
