/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
body {
  padding: 1vw; }

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none; }

#header {
  display: flex;
  flex-flow: row wrap;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem; }
  @media only screen and (min-device-width: 1024px) and (min-width: 970px) {
    #header {
      border-top: dotted 1px lightgrey; } }

#right-header {
  display: none; }
  @media only screen and (min-device-width: 1024px) and (min-width: 970px) {
    #right-header {
      display: initial;
      width: 30%;
      border-left: solid 1px #ccc;
      border-size: border-box;
      padding-left: 0.75rem;
      font-family: 'Arial', sans-serif;
      font-size: 1rem;
      color: #68636C; } }

#left-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  font-size: 10vw;
  font-weight: bold;
  color: #68636A; }
  @media only screen and (min-device-width: 1024px) and (min-width: 970px) {
    #left-header {
      width: 70%;
      flex-grow: 1; } }

hr {
  display: block;
  width: 100%;
  border-top: solid 1px #cccc;
  box-shadow: 1px 1px #ccc;
  box-sizing: border-box; }

.mainGallery {
  padding: 3rem;
  width: 100%; }

#hero {
  width: 100%;
  padding-bottom: 0.25%; }

.multiCardContainer {
  padding: 2rem;
  width: 100%; }
  @media only screen and (min-device-width: 1024px) and (min-width: 970px) {
    .multiCardContainer {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 0rem; } }

.photoContainer {
  width: 100%; }
  @media only screen and (min-device-width: 1024px) and (min-width: 970px) {
    .photoContainer {
      width: calc(33% - 1rem);
      height: 20rem;
      padding-top: 0.5rem; } }

.photoLink {
  width: 100%; }

.photo {
  width: 100%;
  height: 80%; }

.authors-descriptions {
  font-size: 3vw;
  color: #68636A;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
  @media only screen and (min-device-width: 1024px) and (min-width: 970px) {
    .authors-descriptions {
      font-size: 1.5vw; } }

@media only screen and (min-device-width: 1024px) and (min-width: 970px) {
  #all-photos-container {
    display: flex;
    flex-flow: row wrap; } }

@media only screen and (min-device-width: 1024px) and (min-width: 970px) {
  .photoContainer-single {
    flex: 1 0 70%;
    width: 60%; } }

@media only screen and (min-device-width: 1024px) and (min-width: 970px) {
  #selected-photo {
    width: 60%; } }

.authors-descriptions-single {
  font-size: 1.0rem;
  color: lightgrey;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  padding-bottom: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 50%; }

#desktop-detail {
  display: none; }
  @media only screen and (min-device-width: 1024px) and (min-width: 970px) {
    #desktop-detail {
      display: initial;
      flex: 0 0 70%;
      width: 30%;
      height: 20rem; } }

@media only screen and (min-device-width: 1024px) and (min-width: 970px) {
  .photoLink-single {
    width: 100%; } }

@media only screen and (min-device-width: 1024px) and (min-width: 970px) {
  .photoContainer-images {
    width: 30%;
    margin: 0rem; } }

.photo-single {
  width: 60%; }

.description {
  font-size: 1rem;
  color: #68636A;
  font-family: 'Arial', sans-serif;
  padding-top: 2rem;
  padding-bottom: 2rem; }

* {
  box-sizing: border-box; }
