// @import "./partials/media-query.scss";

.mainGallery{
  padding: 3rem;
  width: 100%;

}

#hero{
  width: 100%;
  padding-bottom: 0.25%;

}

.multiCardContainer{
  padding: 2rem;
  width: 100%;

  @include respond-to(large){
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0rem;
  }
}

.photoContainer{
  width: 100%;

  @include respond-to(large){
    width: calc(33% - 1rem);
    height: 20rem;
    padding-top: 0.5rem;

  }

}

.photoLink{
  width: 100%;

}

.photo{
  width: 100%;
  height: 80%;

}

.authors-descriptions{
  font-size: 3vw;
  color: #68636A;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
    @include respond-to(large){
      font-size: 1.5vw;
    }
  
}

//FOR MOBILE DETAIL

#all-photos-container{
  @include respond-to(large){
    display: flex;
    flex-flow: row wrap;
  }
}

.photoContainer-single{
  @include respond-to(large){
    flex: 1 0 70%; 
    width: 60%;   
    // display: table-cell;
  }
}
#selected-photo{
  @include respond-to(large){
    width: 60%;
  }
}
.authors-descriptions-single{
  font-size: 1.0rem;
  color: lightgrey;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  padding-bottom: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 50%;

}

#desktop-detail{
  display: none;

  @include respond-to(large){
    display: initial;
    flex: 0 0 70%;
    width: 30%;
    height: 20rem;

    // display: table-cell;
  }
}

.photoLink-single{

  @include respond-to(large){
    width: 100%;
  }
}

.photoContainer-images{
  @include respond-to(large){
    // flex: 0 0 30%;
    width: 30%;
    margin: 0rem;   
    // display: table-cell;
  }
}


.photo-single{
  width: 60%;
  @include respond-to(large){
    
  }
}



.description{
  font-size: 1rem;
  color: #68636A;
  // font-weight: bold;
  font-family: 'Arial', sans-serif;
  padding-top: 2rem;
  padding-bottom: 2rem;
}



//FOR DESKTOP DETAIL