@import "./partials/media-query.scss";

.mainGallery{
  border: solid 3px green;
  padding: 3rem;


}

#hero{
  width: 100%;

}

.multiCardContainer{
  padding: 2rem;
  
}

.photoContainer{
  width: 100%;
  // height: 40rem;
  // overflow: auto;
  // position: relative;
  // cursor: pointer;
  // margin-bottom: 4rem;

}

// .aspectRatio{
//   margin-bottom: 60%;
// }

.photoLink{
  width: 100%;
  
  // top: 0px;
  // position: absolute;
  // cursor: pointer;

}

.photo{
  width: 100%;
  // height: 75%;
  // background-color: grey;
  // background-size: cover;
  // background-position: 0 0;


}

.authors-descriptions{
  font-size: 3vw;
  color: #68636A;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  
}